$color-principal: #5F5D5D;
$ancho: 100%;
$opacidad: rgba(0, 0, 0, .5); 
$cuadrado-rojo: red;
$float-rojo: left;
$texto-blanco: white;
$texto-negro: black;
$color-plomo: #8B8989;
$color-rojo: red;
$footer: #F6F4F4;